/* fonts */

@font-face {   
font-family: 'iconRegular';   
src: url("icon.eot") ;    
src: url("icon.eot#iefix")  format('embedded-opentype'),         
url("icon.svg")  format('svg'),         
url("icon.woff")  format('woff'),         
url("icon.ttf")  format('truetype');	
src: url("icon.eot") \9;    
font-weight: normal;    
font-style: normal;}

/* main page */
/*#slider,*/
#recommend, 
#collects,
#pr_ad,
#task,
#pyramid,
#friend,
#scene,
/*#group,*/
#hsy,
#hot_room,
#sidebutton,
.primary #report,
#charts .extra,
.athena-main-panel,
.athena-playlist-panel,
.athena-chat-panel,
.athena-main-button,
.athena-tip,
.sns,
.copyright,
.cooperation,
#popup_60d_mini,
#popup_60d_content,
#popup_60d_mask,
#J_playerHQ-tip,
#search_60d,
#tip_60d,
#qcode,
#popup_music_taobao
{display:none  !important;}

#timeline .action .new {border-color:#f60 !important; background-color:#f60 !important;}
#timeline .action .new:hover{background-color:#f60 !important;}
/*.primary .account a sup {background-color:#3399FF !important; border-color:white !important;}*/
/*
.listen-mod .item-cover .img {height: 120px !important}
.listen-mod img {float:right; margin-right: 20px}
.listen-mod .item-cover {padding-bottom: 20px}
#group, #listenMod {margin-top:10px !important}
#album {margin-top:30px !important}
*/
/* album and single page */

.adm_block.mgt20,
#song_fans_block,
#hot_events_show,
#artist_fangroup_block,
#artist_recommend
{display:none  !important;}
li.do_share a span {display:block !important}
li.do_share span {display:none}

#main_wrapper {margin-left: 30px !important;}
#wrapper div#title {padding: 20px 0 10px 30px !important;}
.lrc_main {font-family: "Consolas", monospace;} /*Courier New*/

.icon.mv {
	background:url(http://www.xiami.com/images/group_photo/51/80651/27/1449205355_qINF.png) no-repeat !important;
	width: 30px;
	height: 14px;
	text-indent:-9999px;
	font: inherit !important;
	border-radius: inherit !important;
	margin-left: 3px;
}

/* Single Page Case 1 */
#song_block .album_relation 
{float: left !important;
position: relative;
width: 100% !important;
padding-top: 9px !important; 
}

/* table#albums_info {float: right !important; position: relative !important; margin: -180px 250px 0 5px !important}*/
/* table#albums_info {font-size:12.5px !important} */
table#albums_info div {width:600px !important}
table#albums_info .item {width:70px !important}
 
#song_contents
{float: right !important;
position: relative !important;
width: 300px !important;
margin-right: -320px !important;
margin-top: 60px !important}

.sb_xiamini
{float: right !important;
position: absolute !important;
width: 300px !important;
top: 370px !important;
right: 10px !important}

#relate_song,
#song_tags_block,
#album_song,
#trans_list
{position: relative; top:300px !important}
#album_song table.track_list td {padding: 7px 0}


/* ////////////////////////// player /////////////////// */

#J_mainWrap {padding-left: 250px; padding-right: 350px}
.main-sidebar, .collect-list {width:220px !important}
.ui-album-cover {position:fixed; left: -5px}
.ui-album-sale {position:fixed !important; bottom: 130px !important; left: 10px !important}
/*.collect-list, #J_collectScrollView .ks-scrollbar {visibility: hidden} */
.collect-list {top:390px !important}
.main-outher {width: 340px ; padding-right: 5px !important}
.menu-outer {border-top: 1px solid #ccc; margin-top:220px}
.seiya-chatroom {min-width:30px !important; right:350px !important}
.seiya-chatroom .col-main {right: 0px !important}
.ui-player-lrc {top: 45px !important; width: 340px }
/*
.ui-lrc-line {
text-align: center;
line-height: 22px !important;
padding: 3px 10px !important;}

.ui-trans-line{
display:none;
text-align: center;
line-height: 0px !important;
padding: 0px 10px !important;}*/

.ui-trans-current{color:#f60 !important;
webkit-transition-property: color !important;
-moz-transition-property: color !important;
-o-transition-property: color !important;
-ms-transition-property: color !important;
transition-property: color !important;
-webkit-transition-duration: .1s !important;
-moz-transition-duration: .1s !important;
-o-transition-duration: .1s !important;
-ms-transition-duration: .1s !important;
transition-duration: .1s !important;
-webkit-transition-timing-function: ease-in !important;
-moz-transition-timing-function: ease-in !important;
-o-transition-timing-function: ease-in !important;
-ms-transition-timing-function: ease-in !important;
transition-timing-function: ease-in !important;}

.icon-wormhole {
	font-family: "iconRegular" !important;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	color: gray !important;
	right: 85px; top: 0px !important;
	cursor: pointer; text-decoration: none !important;
}

.icon-wormhole-bottom {
	font-family: "iconRegular" !important;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	color: white !important;
	right: 85px; top: 0px !important;
	cursor: pointer; text-decoration: none !important;
}

span.icon-dislike{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 8px;
	font-family: "iconRegular" !important;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	cursor: pointer; text-decoration: none
}

.mode-once {
background-image:url(icon.png);
background-repeat: no-repeat;
background-position: -68px -201px;
}

#J_trackMoreMenu {height: 120px !important}

#lyrics_control {
margin: 5px 0px;
text-align:center;
width: 100%;
position: relative;
}

#lrc_trans {color:#f60;}

#lyrics_control a {
font-family: "iconRegular" !important;
display: inline-block;
-webkit-font-smoothing: antialiased;
font-size: 15px;
color:lightgray; cursor: pointer; margin: 10px; text-decoration: none}

#J_walllist {
	width: 100%;
}
#J_walllistView {	
	height: 100%;	
}
#J_walllist .cmt_item {
    padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 5px;
    overflow: hidden;
	border-bottom: 1px #ebebeb solid;
	background-color: rgba(255,255,255,0.7);
}
#J_walllist .cmt_item .info {
    position: relative;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    font-size: 12px;
    background: #f5f5f5;
    border-bottom: 1px #ebebeb solid;
    border-top: 1px #d9d9d9 solid;
    overflow: hidden;
}

.cmt_item .info span {margin-right: 8px}

#J_walllist .cmt_item .brief {
    font-size: 12px;
    color: #333;
    line-height: 1.5;
    padding: 5px 0 0 2px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}

/*
#lrc_trans:hover  {
font-family: "iconRegular" !important;
display: inline-block;
-webkit-font-smoothing: antialiased;
color:green; cursor: pointer; margin: 10px; text-decoration: none}
*/
#lrc_wikia:hover, #lrc_fullscreen:hover, #lrc_report:hover {
font-family: "iconRegular" !important;
display: inline-block;
-webkit-font-smoothing: antialiased;
color:#f60; cursor: pointer; margin: 10px; text-decoration: none}

.player-info .track-info .track-controls #J_winopenPlay {
	top: 0px; right: -33px; position: absolute; cursor: pointer;}
.icon-winopenPlay { 
	background-image: url("icon_openplay.png"); 
	background-repeat: no-repeat;}
	
.icon-winopenPlay {
background-position: 0px -277px; width: 18px; height: 18px;}

.icon-winopenPlay:hover {
background-position: -28px -277px;}

.track-play-menu {
 padding: 10px; border-radius: 4px; 
 left: 300px; width: 140px; height: 60px; 
 bottom: 26px; position: fixed; z-index: 1999; 
 background-color: rgb(51, 51, 51);
}

.track-play-menu ul li {
  height: 30px; line-height: 30px;
}
.track-play-menu ul li a {
  border-radius: 4px; color: rgb(170, 170, 170); line-height: 30px; padding-left: 38px; 
  text-decoration: none; display: block; position: relative;
}
.track-play-menu ul li a:hover {
  background-color: rgb(68, 68, 68);
}

'.track-play-menu ul li i {
  left: 8px; top: 6px; width: 18px; height: 18px; position: absolute;
}
.track-play-menu .arrow {
  left: -9px; width: 9px; height: 18px; bottom: 16px; position: absolute; 
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAASCAYAAACJgPRIAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACLSURBVChThc4BDoIwDAVQONK6HUhRuQ4xRrksqP+PDsjWwU+arO3L0uYkrfd+0LeZVkSeQD/ti6yghgheCVioADnike8csHQff/hYgJXAaC1TNWeARdTj8c0X+4oHAT7QVGFEDOAdAxMqWYLBDVVAXW8JIXRYzIeIyaGOyzjnrrhzOkRMgtrWIyKXPykjhfjqVAPDAAAAAElFTkSuQmCC");
}
.ks-ie7 .track-play-menu .arrow {
  background-image: url("http://gtms03.alicdn.com/tps/i3/T1ZNuzFrtaXXbeUgbb-9-18.png");
}
.icon-OldPlay { 
  background-image: url("icon_openplay.png"); background-repeat: no-repeat;
}
.icon-OldPlay {
  background-position: 0px -527px;
}
.icon-NewPlay { 
  background-image: url("icon_openplay.png"); background-repeat: no-repeat;
}
.icon-NewPlay {
  background-position: 0px -545px;
}
.icon-ListeningPlay { 
  background-image: url("icon_openplay.png"); background-repeat: no-repeat;
}
.icon-ListeningPlay {
  background-position: 0px -581px;
}

/* Lyrics Edit Page */
textarea#editLrcText,
textarea#editLyricText,
#lrc_input {font-family: "Courier New"; font-size:12px !important}

input#songwriters, input#composer, input#arrangement{width:560px !important}

/* User Page */
.profile_title .usr_info .member_medal {
display: inline-block;
width: 24px;
height: 24px;
line-height: 24px;
vertical-align: text-top;
background:url(http://www.xiami.com/images/group_photo/1/13001/2/1416542609_qeV6.png) no-repeat; }
.profile_title .usr_info .medal_lyricmember1{background-position: -200px 0;}
.profile_title .usr_info .medal_lyricmember2{background-position: -200px -25px;}

/* Artist Page */

#title .mshow-wrapper {
	float: right !important;
	margin-right: 10px;
}

#artist_work .acts a.more {
padding: 10px 20px;
line-height: 30px;
color: #8CA6D7;
background: url("http://img.xiami.net/res/img/default/page_icon.gif") no-repeat 25px 8px;
}
.mv_item_side {
font-size: 12px;
position: relative;
padding:10px;
/*min-height: 90px;*/
_height: 90px;
border-bottom: 1px #f0f0f0 solid;
}

.mv_item_side .name {
overflow:hidden; 
white-space:nowrap; 
text-overflow: ellipsis; 
}

td.song_name {width: 300px !important; word-break: break-word !important}

/* Collection page */
.Qsong_item .s_info span.song_name {width:inherit !important; min-width:280px; max-width:65%}
.Qsong_item .s_info p {min-width:50px}
.Qsong_item .s_info {height: inherit !important}

/* Responsive */
@media screen and (min-device-width: 1400px) {
	#header .wrapper, #main .wrapper, #wrapper {max-width: 1200px !important}
	#nav {margin-left: -70px !important}
	#main .wrapper .section {margin-right:-372px !important}
	#main .wrapper .section .container {margin-right:372px !important}
	#main .wrapper .sidebar {width: 332px !important}
	#albums .view {/*max-width: 840px !important;*/ margin: 15px auto;}	
	#slider {margin: 15px auto !important}
	#relate_collect ul li {margin-right: 20px !important; margin-left: 20px !important}
	/*.albumBlock_list {padding: 5px 20px 0 40px !important}*/
	.albumBlock_list ul li  {margin: 15px 36px 0 0 !important}
}
@media screen and (max-device-width: 1400px) {
	#nav {display: none !important}
}