
/* main page */
#slider,
#recommend, 
#collects,
#task,
#pyramid,
#friend,
#scene,
#hsy,
#hot_room,
#sidebutton,
.athena-main-panel,
.athena-playlist-panel,
.athena-chat-panel,
.athena-main-button,
.athena-tip,
.sns,
.copyright,
.cooperation,
#tip_60d,
#search_60d
{display:none  !important;}

#timeline .action .new {border-color:#f60 !important; background-color:#f60 !important;}
#timeline .action .new:hover{background-color:#f60 !important;}
/*.primary .account a sup {background-color:#3399FF !important; border-color:white !important;}*/


/* album and single page */
#nav,
.adm_block.mgt20,
#song_fans_block,
#song_tags_block,
#hot_events_show
{display:none  !important;}

#main_wrapper {margin-left: 30px !important;}
#wrapper div#title {padding: 20px 0 10px 30px !important;}

/* album page */
#album_info {min-height: 250px !important;}
#album_rank {float: left !important;}
#album_info table {float:right !important; width: 250px; padding: 5px !important }
#album_info ul {float:left !important; padding: 10px !important}
#album_cover {width:500px !important}
#album_cover p.grade {margin: -45px 0 0 250px !important; z-index:2 !important; position: relative; overflow: auto !important}

td.song_name {width: 300px !important; word-break: break-word !important}