/* fonts */

@font-face {   
font-family: 'iconRegular';   
src: url("icon.eot") ;    
src: url("icon.eot#iefix")  format('embedded-opentype'),         
url("icon.svg")  format('svg'),         
url("icon.woff")  format('woff'),         
url("icon.ttf")  format('truetype');	
src: url("icon.eot") \9;    
font-weight: normal;    
font-style: normal;}

/* main page */
#slider,
#recommend, 
#albums,
#pr_ad,
#task,
#pyramid,
#friend,
#scene,
#hsy,
/*#hot_room,*/
#sidebutton,
#group,
.primary #report,
#charts .extra,
.athena-main-panel,
.athena-playlist-panel,
.athena-chat-panel,
.athena-main-button,
.athena-tip,
.sns,
.copyright,
.cooperation,
#popup_60d_mini,
#popup_60d_content,
#popup_60d_mask,
#J_playerHQ-tip,
#search_60d,
#tip_60d,
#qcode,
#popup_music_taobao
{display:none  !important;}

#timeline .action .new {border-color:#f60 !important; background-color:#f60 !important;}
#timeline .action .new:hover{background-color:#f60 !important;}
/*.primary .account a sup {background-color:#3399FF !important; border-color:white !important;}*/


/* //////////////////////// album and single page ////////////////// */
#nav,
.adm_block.mgt20,
#song_fans_block,
#song_tags_block,
#hot_events_show,
#artist_fangroup_block,
#artist_recommend
{display:none  !important;}
li.do_share a span {display:block !important}
li.do_share span {display:none}

#main_wrapper {margin-left: 30px !important;}
#wrapper div#title {padding: 20px 0 10px 30px !important;}

/* ///////////////////////// album page ////////////////////// */
#album_info {min-height: 250px !important;}
#album_rank {float: left !important;}
#album_info table {float:right !important; width: 250px; padding: 5px !important }
#album_info ul {float:left !important; padding: 10px !important}
#album_cover p.grade {margin: -45px 0 0 250px !important; z-index:2 !important; position: relative; overflow: auto !important}

td.song_name {width: 300px !important; word-break: break-word !important}
#lrc {font-family: "Courier New"}

/* Single Page Case 1 */
#song_block .album_relation 
{float: left !important;
position: relative;
width: 100% !important;
padding-top: 9px !important; 
}

/* table#albums_info {float: right !important; position: relative !important; margin: -180px 250px 0 5px !important}*/
/* table#albums_info {font-size:12.5px !important} */
table#albums_info div {width:600px !important}
table#albums_info .item {width:70px !important}
 
#song_contents
{float: right !important;
position: relative !important;
width: 300px !important;
margin-right: -320px !important;
margin-top: 60px !important}

.sb_xiamini
{float: right !important;
position: absolute !important;
width: 300px !important;
top: 370px !important;
right: 10px !important}

#relate_song,
#album_song,
#trans_list
{position: relative; top:300px !important}
#album_song table.track_list td {padding: 7px 0}


/* ////////////////////////// player /////////////////// */
#J_mainWrap {padding-left: 220px; padding-right: 350px}
.ui-album-cover {position:fixed; top: 250px; left: -22px}
.ui-album-sale {position:fixed !important; bottom: 130px !important; left: 10px !important}
#J_collectScrollView .ks-scrollbar {visibility: hidden} 
.main-outher {width: 350px ; padding-right: 5px !important}
.menu-outer {border-bottom: 0px !important}
.seiya-chatroom {min-width:30px !important; right:350px !important}
.seiya-chatroom .col-main {right: 0px !important}
.ui-player-lrc {top: 50px !important; width: 350px }
/*
.ui-lrc-line {
text-align: center;
line-height: 22px !important;
padding: 3px 10px !important;}

.ui-trans-line{
display:none;
text-align: center;
line-height: 0px !important;
padding: 0px 10px !important;}*/

.ui-trans-current{color:#f60 !important;
webkit-transition-property: color !important;
-moz-transition-property: color !important;
-o-transition-property: color !important;
-ms-transition-property: color !important;
transition-property: color !important;
-webkit-transition-duration: .1s !important;
-moz-transition-duration: .1s !important;
-o-transition-duration: .1s !important;
-ms-transition-duration: .1s !important;
transition-duration: .1s !important;
-webkit-transition-timing-function: ease-in !important;
-moz-transition-timing-function: ease-in !important;
-o-transition-timing-function: ease-in !important;
-ms-transition-timing-function: ease-in !important;
transition-timing-function: ease-in !important;}

.icon-wormhole {
	font-family: "iconRegular" !important;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	color: gray !important;
	right: 85px; top: 0px !important;
	cursor: pointer; text-decoration: none !important;
}

.icon-wormhole-bottom {
	font-family: "iconRegular" !important;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	color: white !important;
	right: 85px; top: 0px !important;
	cursor: pointer; text-decoration: none !important;
}

span.icon-dislike{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 8px;
	font-family: "iconRegular" !important;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	cursor: pointer; text-decoration: none
}

.mode-once {
background-image:url(icon.png);
background-repeat: no-repeat;
background-position: -68px -201px;
}

#J_trackMoreMenu {height: 120px !important}

#lyrics_control {
margin: 10px 0px;
text-align:center;
width: 350px;
position: relative;
}
#lrc_edit, #lrc_fullscreen, #lrc_report {
font-family: "iconRegular" !important;
display: inline-block;
-webkit-font-smoothing: antialiased;
font-size: 15px;
color:black; cursor: pointer; margin: 10px; text-decoration: none}

#lrc_trans {
font-family: "iconRegular" !important;
display: inline-block;
-webkit-font-smoothing: antialiased;
font-size: 15px;
color:#f60; cursor: pointer; margin: 10px; text-decoration: none}
/*
#lrc_trans:hover  {
font-family: "iconRegular" !important;
display: inline-block;
-webkit-font-smoothing: antialiased;
color:green; cursor: pointer; margin: 10px; text-decoration: none}
*/
#lrc_edit:hover, #lrc_fullscreen:hover, #lrc_report:hover {
font-family: "iconRegular" !important;
display: inline-block;
-webkit-font-smoothing: antialiased;
color:#f60; cursor: pointer; margin: 10px; text-decoration: none}

.player-info .track-info .track-controls #J_winopenPlay {
	top: 0px; right: -33px; position: absolute; cursor: pointer;}
.icon-winopenPlay { 
	background-image: url("icon_openplay.png"); 
	background-repeat: no-repeat;}
	
.icon-winopenPlay {
background-position: 0px -277px; width: 18px; height: 18px;}

.icon-winopenPlay:hover {
background-position: -28px -277px;}

.track-play-menu {
 padding: 10px; border-radius: 4px; 
 left: 300px; width: 140px; height: 60px; 
 bottom: 26px; position: fixed; z-index: 1999; 
 background-color: rgb(51, 51, 51);
}

.track-play-menu ul li {
  height: 30px; line-height: 30px;
}
.track-play-menu ul li a {
  border-radius: 4px; color: rgb(170, 170, 170); line-height: 30px; padding-left: 38px; 
  text-decoration: none; display: block; position: relative;
}
.track-play-menu ul li a:hover {
  background-color: rgb(68, 68, 68);
}

'.track-play-menu ul li i {
  left: 8px; top: 6px; width: 18px; height: 18px; position: absolute;
}
.track-play-menu .arrow {
  left: -9px; width: 9px; height: 18px; bottom: 16px; position: absolute; 
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAASCAYAAACJgPRIAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACLSURBVChThc4BDoIwDAVQONK6HUhRuQ4xRrksqP+PDsjWwU+arO3L0uYkrfd+0LeZVkSeQD/ti6yghgheCVioADnike8csHQff/hYgJXAaC1TNWeARdTj8c0X+4oHAT7QVGFEDOAdAxMqWYLBDVVAXW8JIXRYzIeIyaGOyzjnrrhzOkRMgtrWIyKXPykjhfjqVAPDAAAAAElFTkSuQmCC");
}
.ks-ie7 .track-play-menu .arrow {
  background-image: url("http://gtms03.alicdn.com/tps/i3/T1ZNuzFrtaXXbeUgbb-9-18.png");
}
.icon-OldPlay { 
  background-image: url("icon_openplay.png"); background-repeat: no-repeat;
}
.icon-OldPlay {
  background-position: 0px -527px;
}
.icon-NewPlay { 
  background-image: url("icon_openplay.png"); background-repeat: no-repeat;
}
.icon-NewPlay {
  background-position: 0px -545px;
}
.icon-ListeningPlay { 
  background-image: url("icon_openplay.png"); background-repeat: no-repeat;
}
.icon-ListeningPlay {
  background-position: 0px -581px;
}

/* ///////////////////////////////Lyrics Edit Page//////////////////////////////// */
textarea#editLrcText,
textarea#editLyricText,
#lrc_input {font-family: "Courier New"; font-size:12px !important}

input#songwriters, input#composer, input#arrangement{width:560px !important}

/* User Page */
.profile_title .usr_info .member_medal {
display: inline-block;
width: 24px;
height: 24px;
line-height: 24px;
vertical-align: text-top;
background:url(http://www.xiami.com/images/group_photo/1/13001/2/1416542609_qeV6.png) no-repeat; }
.profile_title .usr_info .medal_lyricmember1{background-position: -200px 0;}
.profile_title .usr_info .medal_lyricmember2{background-position: -200px -25px;}

/* ///////////////////////////////Artist Page//////////////////////////////// */
#artist_work .acts a.more {
padding: 10px 20px;
line-height: 30px;
color: #8CA6D7;
background: url("http://img.xiami.net/res/img/default/page_icon.gif") no-repeat 25px 8px;
}
.mv_item_side {
font-size: 12px;
position: relative;
padding:10px;
/*min-height: 90px;*/
_height: 90px;
border-bottom: 1px #f0f0f0 solid;
}

.mv_item_side .name {
overflow:hidden; 
white-space:nowrap; 
text-overflow: ellipsis; 
}